@use'variables' as v;
.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.container-categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2rem;
    gap: 2rem;
    p{
        font-size: 2.5rem;
        color: #fff;
        text-transform: capitalize;
        position: relative;
    }
    p::after{
        content: '';
        width: 2.5rem;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%,50%);
    }
    span{
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
        transition: all 1s;
    }
    span:hover{
        color: v.$primary-color;
        text-decoration: underline;
        transform: scale(1.5);
    }
}
.category-moca{
    background-image:  linear-gradient(#00000080, #00000080);
    background-image: url('img/moca-category.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.category-capuchino{
    background-image: linear-gradient(#00000080, #00000080),
    url('img/capuchino-category.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-expreso{
    background-image: linear-gradient(#00000080,#00000080),
	url('img/expreso-category.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}