@use'variables' as v;
.container-features{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:3rem;
    padding: 3rem 0;
}
.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
    border: 1px solid #000;
    i{
        font-size: 2.7rem;
        color: v.$primary-color;
    }
}
.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    span{
        font-weight: 700;
        font-size: 1.2rem;
        color:v.$dark-color;
    }
}