@use'variables' as v;

.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,30rem);
    gap: 1.5rem;
    margin-bottom: 3rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.gallery-img-3{
    grid-column: 2/4;
    grid-row: 1/3;
}

/*specials*/
.specials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

/*blogs*/

.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.container-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
    
}

.card-blog{
    display: flex;
    flex-direction: column;
    gap: 2rem;
 
    .container-img{
       border-radius: 2rem;
       cursor: pointer;
       position: relative;
       overflow: hidden;
      img{
        width: 100%;
        height: 250px;
      }
    }
}
.button-group-blog{
   position: absolute;
  bottom: 1.5rem;
   right: -2.5rem;
   display: flex;
   gap: 0.7rem;
   z-index: -1;
   transition: all 0.3s ease;
    }
.card-blog:hover .button-group-blog{
    z-index: 0;
    right: 1.5rem;
}
.button-group-blog{
    span{
        background-color: #fff;
        padding: 1rem;
        border-radius: 50%;
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    i{
        font-size: 1.3rem;
    }
    span:hover{
        background-color: v.$primary-color;
        i{
           color: #fff;
        }
    }
    
}

.content-blog{
    h3{
        font-size: 1.7 rem;
        margin-bottom: 1.7rem;
        color: v.$dark-color;
        font-weight: 500;
    }
    h3:hover{
        color: v.$primary-color;
        cursor: pointer;
    }
    p{
        margin-top: 1rem;
        font-size: 1.4rem;
        color: #777;
    }
    span{
        color: v.$primary-color;
        font-size: 1.3rem;
    }
    .btn-read-more{
        padding: 1rem 3rem;
        background-color: v.$primary-color;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4rem;
        border-radius: 2rem;
        margin: 3rem 0 5rem;
        display: inline-block;
        cursor: pointer;
    }
    .btn-read-more:hover{
        background-color: v.$dark-color;
    }
}
