@use'variables' as v;

/*768*/
@media (max-width:768px){
    html{
        font-size: 55%;
    }
    .hero{
        padding: 2rem;
    }
    .customer-support{
        display: flex;
        flex-direction: column;
    }
    .content-shopping-cart{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        padding: 1rem 2rem;
    }
    .content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}
    
    .container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 55rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/*468*/
@media (max-width:468px) {
    html{
       font-size: 42.5%;
    }
    .content-banner{
        max-width: 50rem;
        padding: 22rem 0;
    }
    .heading-1{
       font-size: 2.8rem;
    }
    .card-feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2rem;
        p{
            align-items: center;
        }
    }
    .container-features{
        display: flex;
        flex-direction: column;
    }
    .feature-content{
        align-items: center;
        p{
            font-size: 1.4rem;
            text-align: center;
        }
        span{
            font-size: 1.6rem;
            padding: 1rem 1.5rem;
            font-weight: 500;
        }
    }
    .container-products{
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
        gap:1rem;
        img{
            width: 100%;
        }
    }
    .container-img{
        .discount{
            font-size: 2.2rem;
        }
    }
    .content-card-product{
        h3{
            font-size: 2.2rem;
        }
    }
    .gallery{
        grid-template-columns: repeat(2,20rem);
    }
    .blogs{
        padding: 2rem;
        height: 220rem;
    }
    .container-blogs{
        grid-template-columns: 1fr;
        height: 75rem;
    }
    .content-blog{
        text-align: center;
        h3{
            font-size: 2.4rem;
        }
        span{
            font-size: 2.2rem;
        }
    }
    .btn-read-more{
        font-size: 2.8rem;
    }
    .contact-info ul,
    .information ul,
	.my-account ul{
       display: flex;
       flex-direction: column;
    }
    .contact-info{
        align-items: center;
    }
    .menu-footer{
        grid-template-columns: 1fr;
    }
    .content{
        p{
            font-size: 1.6rem;
        }
    }
    
}